/*Paleta de colores */
@import 'colores.css';

#habilidades{
    margin: 5%;
    padding: 5%;
    border-radius: 20px;
    border: 4px solid var(--tropical-indigo);
}
/*habilidades*/
#habilidades> div {
    
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
    margin: 1rem;
    text-align: center;
}

#habilidades img {

    border-radius: 1rem;
    max-width: 7rem;
    cursor: context-menu;
}


#habilidades > div > div {
    margin-top: 40px;
  position: relative;
}
  
#habilidades span {
  width: 120px;
  background-color: var(--orchid);
  color: aliceblue;
  font-family: "Quicksand", sans-serif;
  text-align: center;
  padding: .5rem 0;
  border-radius: .5rem;
  position: absolute;
  z-index: 1;
  top: -40px;
  left: 50%;
  transform: translate(-60px, 10px);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
}

#habilidades > div > div:hover span {
  opacity: 1;
  transform: translate(-60px, 0px);
}

#habilidades span:after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: var(--orchid) transparent transparent transparent;
}