html{
    margin: 0;
    padding: 0;
    background-color: aqua;
}
header{
    display: flex;
    justify-content: space-around;
    background-color: bisque;
    padding: 5%;
    border-radius: 10px;
}
#menu-hamburguesa{
    display: flex;
    cursor: pointer;
    font-size: 24px;
    justify-content: space-between;
    /*display: flex;
    align-items: center;*/
}
#menu{
display: none;
flex-direction: column;
background-color: rgba(240, 248, 255, 0.975);
padding: 20px;
position:absolute;
top: 15px;
box-shadow: 0 4px 8px rgba( 0, 0, 0, 0.1);
border-radius: 5px;
z-index: 1000;
width:200px;
}
#menu a{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
}
#menu a:hover{
    background-color: black;
    color:aliceblue
}
#menu.show{
    display: flex;
}
#foto{
    background-color: antiquewhite;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}